*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input, button,
textarea, select {
    font: inherit;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1rem 2rem;
}
